{% load staticfiles %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'scanner/images/favicon.ico' %}">

    <title>Scanner of QR codes</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'scanner/bootstrap.min.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'scanner/instascan.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scanner/jquery-3.2.1.min.js' %}"></script>

    <!-- Custom styles for this template -->
    <link href="{% static 'scanner/cover.css' %}" rel="stylesheet">
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <header class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Scanner of QR codes</h3>
              <nav class="nav nav-masthead">
                <a class="nav-link" href="#">Vítor Silva</a>
              </nav>
            </div>
          </header>

          <main role="main" class="inner cover">
            {% block content %}
            {% endblock %}
          </main>

          <footer class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </footer>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{% static 'scanner/jquery-3.2.1.min.js' %}"><\/script>')</script>
    <script src="{% static 'scanner/popper.min.js' %}"></script>
    <script src="{% static 'scanner/bootstrap.min.js' %}"></script>
  </body>
</html>
